<!-- views/users/edit.erb -->
<h1>Edit User</h1>
<% if @errors %>
  <ul style="color:red">
    <% @errors.each do |e| %><li><%= e %></li><% end %>
  </ul>
<% end %>
<form action="/users/<%= @user.id %>" method="post">
  <p>Name: <input name="name" value="<%= h @user.name %>" /></p>
  <p>Email: <input name="email" value="<%= h @user.email %>" /></p>
  <button type="submit">Update</button>
</form>
<p><a href="/users/<%= @user.id %>">Cancel</a></p>
